body {
    background-color: aqua;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 10rem;
    text-align: center;
    font-family: 'Kolker Brush', cursive;
    margin: 1rem;
    color: whitesmoke;
    text-shadow: 4px 4px 8px #333333;
}
h3 {
    font-family: 'Nunito', sans-serif;
    border-bottom: 1px solid black;
    margin: 5px;
}
.category-section {
    background: white;
    padding: 1rem;
    width: 30%;
    min-width: 300px;
    max-width: 500px;
    border-radius: 10px;
    margin: 0 auto;
}